@font-face {
  font-family: 'OpenSans-Light';
  src: url('fonts/OpenSans-Light.eot');
  src: url('fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
  url('fonts/OpenSans-Light.svg#my-font-family') format('svg'),
  url('fonts/OpenSans-Light.woff') format('woff'),
  url('fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Questa-Grande-Regular';
  src: url('fonts/Questa-Grande-Regular.eot');
  src: url('fonts/Questa-Grande-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Questa-Grande-Regular.svg#my-font-family') format('svg'),
  url('fonts/Questa-Grande-Regular.woff') format('woff'),
  url('fonts/Questa-Grande-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'OpenSans-Light', Helvetica, sans-serif;
}

h1,h2,h3 {
  line-height: 1em;
}
h1 {
  font-family: 'Questa-Grande-Regular', Times, serif;
  font-size: 80px;
}
h2 {
  font-family: 'OpenSans-Light', Helvetica, sans-serif;
  font-size: 38px;
  text-transform: uppercase;
}
h3 {
  font-family: 'Questa-Grande-Regular', Times, serif;
  font-size: 32px;
  color: #AE1916;
}

.heading {
  margin-top: 24px;
}
.orbit-prev,.orbit-next,.orbit-slide-number,.orbit-timer {
  display: none;
}
.sponsors img {
  margin-left: auto;
  margin-right: auto;
}
.sponsors .gold {
  max-height: 180px;
}
.sponsors .silver {
  max-height: 120px;
};
